.list {
  border: 2px solid #0058fb;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.list:hover {
  background-color: #0058fb;
}

.list:hover .list__content {
  color: #fff;
}

.list-heading {
  padding: 10px 0;
  text-transform: uppercase;
  font-family: TBold;
  opacity: 0.3;
}

.listContent {
  overflow: scroll;
  height: 35em;
}

.list__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  font-family: TBold;
  color: #0058fb;
}

.list__content--name {
  text-transform: uppercase;
}
.list__content--btn:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 9px 11px 12px -3px rgba(0, 0, 0, 0.11);
}

.content__left {
  background-color: #0058fb;
  width: 33%;
  position: relative;
}

.content__right {
  width: 67%;
}
.content__right--block {
  display: flex;
  flex-direction: column;
  padding: 4% 6%;
  height: calc(100% - 4em);
}

.noHire {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-loader {
  height: 100%;
}

.loading-row {
  width: 6em;
  height: 6em;
}
.noHire--text {
  font-family: urbane;
  font-size: 20px;
  color: #0058fb;
  cursor: pointer;
}

.right-sec__container {
  height: 100%;
}

.empty-list {
  height: 90%;
}

.tooltip-list {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-list .tooltiptext-list {
  visibility: hidden;
  width: 160px;
  background-color: #ef4848;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  top: -5px;
  right: 110%;
  font-size: 14px;
}

.tooltip-list .tooltiptext-list::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #ef4848;
}

.tooltip-list:hover .tooltiptext-list {
  visibility: visible;
}

.addHire-logOut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logout {
  position: absolute;
  right: 2%;
  top: 3%;
}

.success__container {
  height: 100%;
}

.success__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100%);
}

.success__content--img {
  margin-bottom: 10px;
}

.success-img {
  width: 55px;
}

.success__content--desc {
  text-align: center;
  margin-bottom: 40px;
}

.desc-first {
  margin-bottom: 5px;
  font-family: TBold;
  font-size: 20px;
  color: #0100a6;
}

.desc-second {
  text-transform: uppercase;
  font-family: TBold;
  opacity: 0.3;
  font-size: 12px;
}

.success__content--btn {
  display: flex;
  flex-direction: column;
}

.success-btn {
  width: 400px;
  border: 1px solid #0058fb;
  padding: 13px;
  opacity: 1;
  font-family: TBold;
  margin-bottom: 15px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.another-offer-btn {
  color: #0058fb;
  background-color: transparent;
}

.done-btn {
  color: #fff;
  background-color: #0058fb;
}
@media only screen and (max-width: 984px) {
  .content__left {
    width: 40%;
  }
  .content__right {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .content__left {
    display: none;
  }
  .content__right {
    width: 100%;
  }
}
