.input-default {
  border: 0;
  outline: 0;
  font-family: TBold;
  width: 400px;
  border-bottom: 1px solid #ccc;
  margin: 1em 0 2em 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5em;
  font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.buttonWrapper {
  margin: auto;
}

.required-dot {
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #ff0013;
  margin-left: 4px;
  border-radius: 50%;
}

.invalid-msg {
  color: #ff0013;
  font-size: 12px;
  position: absolute;
  bottom: 0.6em;
  font-family: TLight;
}

.react-datepicker__input-container input {
  border: 0;
  outline: 0;
  font-family: TBold;
  width: 400px;
  border-bottom: 1px solid #ccc;
  margin: 1em 0 2em 0;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}
.optionList {
  position: absolute;
  top: 2em;
  max-height: 8em;
  overflow: auto;
  background: #fff;
  box-shadow: 9px 11px 12px -3px rgba(0, 0, 0, 0.11);
  z-index: 1;
  border-radius: 0.3em;
  box-sizing: border-box;
  width: 100%;
  transition: all 0.3s;
  border: 1px solid #ccc;
  padding: 0.5em;
  display: none;
}

.showLocation {
  display: block;
}

.optionValue {
  font-family: TLight;
  font-size: 12px;
  padding: 0.3em;
}
.optionValue:hover {
  background-color: #989898;
  color: #fff;
  cursor: pointer;
}

.already-offer {
  margin: 10px 0;
  text-align: center;
  font-family: TBold;
  color: #0058fb;
}

.dateImgContainer {
  position: absolute;
  width: 1em;
  cursor: pointer;
  height: 1em;
  right: 0;
  pointer-events: none;
  top: 0.9em;
}
.dateImgContainer:hover {
  cursor: pointer;
}
.arrowContainer {
  position: absolute;
  width: 0.8em;
  cursor: pointer;
  height: 0.8em;
  right: 0;
  top: 0.9em;
}
.arrowContainer:hover {
  cursor: pointer;
}
.loaderContainer {
  width: 3em;
  height: 3em;
}
.loaderParent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-img,
.arrowDrop-img,
.loader-img {
  width: 100%;
  height: 100%;
}
.imageWrapper {
  width: 2em;
  margin-left: 20px;
  cursor: pointer;
}

.gotab-logo {
  height: 73px;
  width: 260px;
}

.select__option {
  background-color: #0058fb !important;
  color: #fff;
}

.button-container {
  cursor: pointer;
}
.onboard-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  font-family: TBold;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.cancel-btn {
  opacity: 0.3;
}

.disableBtn {
  cursor: not-allowed;
}

.enableBtn {
  cursor: pointer;
}
.propBtn {
  color: #fff;
  font-weight: bold;
  font-family: TBold;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.onboard {
  color: #0100a6;
  font-family: TBold;
  font-size: 25px;
  font-weight: bold;
}

.btn:hover {
  opacity: 1;
}
.button-container:hover {
  text-decoration: underline;
}
.cancel {
  height: 12px;
  width: 15px;
}
.create-text {
  font-weight: bold;
  font-family: TBold;
  font-size: 14px;
  opacity: 0.3;
}
.form-container {
  /* height: 100%; */
  max-height: 610px;
  overflow: scroll;
  /* margin-top: 20px; */
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 6px;
}

.form-error {
  font-family: TBold;
  color: #ff0013;
}

.all-inputField {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-field {
  position: relative;
  margin: 5px 0;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(4rem);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: TLight;
  opacity: 1; /* Firefox */
  text-transform: initial;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: TLight;
  text-transform: initial;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: TLight;
  text-transform: initial;
}
.form__label {
  transition: all 0.3s;
  position: absolute;
  left: 0;
  margin-bottom: 25px;
  bottom: 45%;
  color: #989898;
  font-size: 13px;
  font-family: TLight;
}

select.select-data {
  color: #989898;
}
select option[disabled]:first-child {
  display: none;
}
.large-button {
  height: 64px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
}
.attach {
  background-color: #f7f7f7;
  border: solid 1px #e4e4e4;
  color: #0058fb;
  font-weight: bold;
  position: relative;
  z-index: 0;
}
.disableOffer {
  background-color: #989898;
}
.enableOffer {
  background-color: #0058fb;
}
.blueBorder {
  border: 1px solid #0058fb;
  background: #fff;
}

.attach-text {
  display: flex;
  align-items: center;
  font-family: TBold;
  font-size: 14px;
}
.fileUpload {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
}
.overlay-layer {
  z-index: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.fullWidth {
  width: 100%;
}
.upload_btn {
  opacity: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.offer-submit {
  margin-top: 20px;
}
.attach-img {
  width: 14px;
  height: 56px;
  margin-right: 1em;
}

.imgContainer {
  width: 1em;
  height: 1em;
}
.arrow-img {
  margin-left: 0.5em;
  width: 100%;
  height: 100%;
}

.optionList::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 5px;
}
.optionList::-webkit-scrollbar {
  width: 10px;
}
.optionList::-webkit-scrollbar-track {
  background: #f1f1f1;
}
@media only screen and (max-width: 1024px) {
  .input-default {
    width: 260px;
  }
  .react-datepicker__input-container input {
    width: 260px;
  }
}

@media only screen and (max-width: 984px) {
  .inputContainer {
    display: unset;
    width: unset;
  }
  .onboard-btn {
    margin-top: 25px;
  }
  .input-default {
    width: 350px;
  }
  .react-datepicker__input-container input {
    width: 350px;
  }
}

@media only screen and (max-width: 695px) {
  .input-default {
    width: 260px;
  }
  .react-datepicker__input-container input {
    width: 260px;
  }
}

@media only screen and (max-width: 592px) {
  .input-default {
    width: 350px;
  }
  .react-datepicker__input-container input {
    width: 350px;
  }
}
